*{
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
}

table, th, td {
  background-color: white;
  border: 1px solid black;
  width: 500px;
  align-self: center
}

table {
  margin: 20px auto 20px auto;
}